
%p= link_to "Download everything", dump_data_user_url(current_user)

%table{:border => '1', :style => 'border-collapse:collapse'}
  %thead
    %tr
      %th Path
      %th Content-Type
      %th Last updated
  %tbody
    - @nodes.each do |node|
      %tr
        %td
          = "#{node.pathname}#{node.pathname.length > 0 ? '/' : ''}"
          %strong= node.basename
        %td= node.content_type
        %td= node.updated_at
