!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #login_state= render "shared/login_state"
    #wrapper
      = render "shared/nav"
      = yield